{
  "start_date": {
    "year": 2022,
    "month": 3,
    "day": 20
  },
  "end_date": {
    "year": 2022,
    "month": 3,
    "day": 27
  },
  "podcast_id": "0HTattjY2kXo9zywjNW8Mk",
  "audience_estimate": {
    "twitter": "unknown",
    "insight_website": "unknown",
    "podcast": 500,
    "brainstorm": 2000,
    "silicon_republic": 1000,
    "external": {
      "irishtimes": 3000,
      "irish times": 3000,
      "irishexaminer": 2500,
      "irish examiner": 2500,
      "irish independent": 2500,
      "the irish independent": 2500,
      "the independent": 2500,
      "independent.ie": 2500,
      "the journal": 2500,
      "thejournal": 2500,
      "rte brainstorm": 2000,
      "rté brainstorm": 2000,
      "rte.ie/brainstorm": 2000,
      "rte": 5000,
      "rté": 5000
    }
  },
  "people": {
    "Name One": {
      "twitter": "twitter1"
    },
    "Name Two": {
      "twitter": "twitter2"
    }
  },
  "pages": {
    "Insight Centre": {
      "twitter": "insight_centre"
    }
  },
  "twitter_consumer_key": "<sign up to get one here https://developer.twitter.com/en/docs/twitter-api>",
  "twitter_consumer_secret": "<sign up to get one here https://developer.twitter.com/en/docs/twitter-api>",
  "twitter_access_token": "<sign up to get one here https://developer.twitter.com/en/docs/twitter-api>",
  "twitter_access_token_secret": "<sign up to get one here https://developer.twitter.com/en/docs/twitter-api>",
  "spotify_client_id": "<sign up to get one here https://developer.spotify.com/documentation/web-api/>",
  "spotify_client_secret": "<sign up to get one here https://developer.spotify.com/documentation/web-api/>"
}